body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-banner {
  display: flex;
  width: 100vw;
  height: 40px;
  background-color: blue;
  color: white;
  align-items: center;
  justify-content: center;
}

.top-banner a {
  color: white;
}

.up-nav {
  display: flex;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  flex: 1;
  justify-content: center;
}

.middle-nav {
  flex: 2;
}

.middle-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  justify-content: center;
}

.middle-nav li {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  color: rgb(108, 108, 108);
}

.right-nav {
  flex: 1;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: right;
  font-size: 14px;
  font-weight: bold;
  color: rgb(108, 108, 108);
}

.right-nav a {
  display: flex;
  align-items: center;
}

.formdata {
  max-height: 0px;
  transition: 0.4s all ease;
  opacity: 0;
  overflow: hidden;
}

.show {
  max-height: 1000px;
  opacity: 1;
  display: block;
}

.hidden {
  display: none;
}

.AdSlide {
  width: 100vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
}

.AdSlide > div {
  display: flex;
}
.arrow {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  pointer-events: none; /* 화살표가 아닌 부분 클릭 안 되게 */
}
.arrow span {
  font-size: 50px;
  color: white;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  pointer-events: all; /* 클릭 가능하게 */
  z-index: 10;
}

.AdSlide img {
  width: 100%;
  height: 30vw;
  flex-shrink: 0;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.product-card {
  flex: 1 1 calc(25% - 20px); /* 4개 기준 */
  max-width: calc(25% - 20px);
  background-color: white;
  padding: 0px;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.sale-products {
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.product-card h4 {
  font-size: 16px;
  margin: 4px 0;
}

.product-card p {
  font-size: 14px;
  margin: 2px 0;
}

.product-card span {
  font-weight: bold;
  color: crimson;
  margin-right: 4px;
}
